<html>
    <body>
        <h1 class="title">
            Registate !
          </h1>
          <div class="form-container">
              <form action="/users/create"   method="POST">
                
                <div class="field-wrap">
                  <label for="name">Nombre:</label>
                  <input type="text" name="name" id="name">
                </div>
                
                <div class="field-wrap">
                  <label for="price">Apellido:</label>
                  <input type="text" name="surname" id="surname">
                </div>

                <div class="field-wrap">
                    <label for="price">Edad:</label>
                    <input type="text" name="age" id="age">
                  </div>
                
                
                
                <div class="field-wrap">
                  <button type="submit">
                    Crear
                  </button>
                </div>
    </body>
</html>